html, body {
  height: 100%;
  overflow: hidden;
}
#map {
  height: 90%;
}
body {
  margin:0;
  padding:0px;
  font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color:#00B7FF;
}
#leg, #leg_title {
  position:absolute;
  top:50px;
  right:10px;
  width:100px;
  padding:10px;
  background:rgba(34,34,34,1);
  color:#999;
  font-family: Arial, Helvetica, sans-serif;
  font-size:12px;
  line-height:18px;
  border-radius:3px;
  max-height:80%;
  overflow:auto;
}
#leg_title {
  top:10px;
}
#leg_items {
  position:relative;
  margin-left:5px;
  top:-1px
}
.my-label {
    position: absolute;    
    font-size:14px;
	color: #FFFCFC;
    background: #215252;
    padding: 6px;
}
#buttonsbar
{
	
	height:50px;
	
}

.hexbin-hexagon {
    stroke: #000;
    stroke-width: 1px;
}
#listofplaces li
{
	
	font-size:14px;
	text-transform:uppercase;
	
}
#text 
{
	font-size:20px;
}
h5
{
	margin-left:10px;
}

.leaftlet-bottom
{
	height:50px;
	width:100px;
	background-color:white;
	
	
}
#mapbuttons input
{
	width:70px;
	height:20px;
	margin-right:10px;
	
}
#mapbuttons input { font-size: 11px; background-color: white; border-radius: 16px; }
#mapbuttons input.active { background-color: #B6F3B6; }
#mapbuttons
{
	margin-left:20%;
	margin-top:10px;
}
#legend
{
	background-color:#ffc760;
	right:10%;
	top:10%;
	width:10%;
}
#text
{
	background-color:#ffc760;
	right:10%;
	top:15%;
	width:10%;
	text-align:center;
	
}

.hexagon {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

#svg_div
{
	float:right;
}
#placesdiv
{
	float:left;
	margin-top:6px;
}

ul
{
	list-style:none;
}
li
{
	margin-bottom:14px;
}
.leaflet-zoom-anim .leaflet-zoom-animated {
	-webkit-transition: -webkit-transform 1s cubic-bezier(0,0,0.25,1);
	   -moz-transition:    -moz-transform 1s cubic-bezier(0,0,0.25,1);
	     -o-transition:      -o-transform 1s cubic-bezier(0,0,0.25,1);
	        transition:         transform 1s cubic-bezier(0,0,0.25,1);
	}